<nav class="border-b border-gray-200 flex overflow-x-auto" aria-label="Breadcrumb">
  <ol class="max-w-screen-xl w-full mx-auto px-4 flex space-x-4 sm:px-6 lg:px-8">
        
    <% if params["controller"] == "devise/registrations" && params["action"] == "edit" %>
        <li class="flex">
            <div class="flex items-center h-11">
                <%= link_to "Mon profil", nil, class: "text-sm font-medium text-gray-500 hover:text-gray-700"  %>
            </div>
        </li>
    <% elsif %>
        <% if @school || @default_school %>
            <li class="flex">
            <div class="flex items-center h-11">
                <% if @schools.length == 1 %> 
                    <%= link_to "Mon école", schools_path, class: "text-sm font-medium text-gray-500 hover:text-gray-700"  %>
                <% else %>
                    <%= link_to "Mes écoles", schools_path, class: "text-sm font-medium text-gray-500 hover:text-gray-700"  %>
                <% end %>
            </div>
            </li>
        <% end %>


        <li class="flex">
            <div class="flex items-center">
                <% if params["controller"] == "schools" && params["action"] == "new" %>
                    <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
                    </svg>
                    <%= link_to "Ajouter une école", nil, class: "ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" %>

                <% elsif @school && @school.id %>
                    <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
                    </svg>
                    <%= link_to @school.name, school_path(@school), class: "ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" %>

                <% elsif @default_school %>
                    <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
                    </svg>
                    <%= link_to @default_school.name, school_path(@default_school), class: "ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" %>
                                
                <% end %>
            </div>
        </li>
    
    <% end %>        

    <% @breadcrumbs.each do |breadcrumb| %>
      <li class="flex">
        <div class="flex items-center h-11">
            <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
            </svg>
            <%= link_to breadcrumb[:label], breadcrumb[:path], class: "ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" %>
        </div>
      </li>
    <% end %>
  </ol>
</nav>