<%= form_for([@school, @teacher]) do |teacher_form| %>

  <div class="space-y-8 divide-y divide-gray-200">

    <div class="pt-8">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Informations sur <%= @teacher.first_name ? "#{@teacher.first_name} #{@teacher.last_name}" : "votre prof" %>
        </h3>
        <p class="mt-1 text-sm text-gray-500">

        </p>
      </div>
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        
        <div class="sm:col-span-3">
          <label for="name" class="block text-sm font-medium text-gray-700">
            Prénom Nom
          </label>
          <div class="mt-1">
            <%= teacher_form.text_field :first_name, value: "#{@teacher.first_name} #{@teacher.last_name}" , class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md p-3 py-2" ,placeholder: "Prenom Nom" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="last_name" class="block text-sm font-medium text-gray-700">
            Email de contact (il ne sera visible que de vous)
          </label>
          <div class="mt-1">
            <%= teacher_form.text_field :email, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md p-3 py-2" ,placeholder: "email@gmail.com" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="email" class="block text-sm font-medium text-gray-700">
            Téléphone (il ne sera visible que de vous)
          </label>
          <div class="mt-1">
            <%= teacher_form.text_field :phone, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md p-3 py-2" ,placeholder: "06 12 12 12 12" %>

          </div>
        </div>

        <div class="sm:col-span-6">
          <label for="email" class="block text-sm font-medium text-gray-700">
            <%= @teacher.first_name ? "#{@teacher.first_name} #{@teacher.last_name}" : "Description de votre prof" %> 
          </label>
          <p class="mt-1 text-sm text-gray-500">
            Donnez ici une description du parcours de <%= @teacher.first_name ? "#{@teacher.first_name} #{@teacher.last_name}" : "votre prof" %> mais aussi ce qui les caractéristiques des cours que ce professeur prodigue
          </p>
          <div class="mt-1 trix">
            <%= teacher_form.rich_text_area :bio %>
            <%# <textarea id="editor"></textarea> %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="flex justify-end">
      <%= link_to "Annuler", school_teachers_path(@school), class: "bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      <%= teacher_form.submit "Enregistrer", class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" 
           %>
    </div>
  </div>
<% end %>