<%= form_for @school do |school_form| %>

  <div class="space-y-8 divide-y divide-gray-200">

    <div class="pt-8">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Informations sur mon école de théâtre amateur.
        </h3>
        <p class="mt-1 text-sm text-gray-500">

        </p>
      </div>
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="first_name" class="block text-sm font-medium text-gray-700">
            Nom
          </label>
          <div class="mt-1">
            <%= school_form.text_field :name, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md p-3 py-2" ,placeholder: "L'atelier des Didascalies, Les Cours de Jean-Baptiste etc etc ... " %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="last_name" class="block text-sm font-medium text-gray-700">
            Commune de l'école
          </label>
          <div class="mt-1">
            <%= school_form.text_field :city, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md p-3 py-2" ,placeholder: "Commune" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="email" class="block text-sm font-medium text-gray-700">
            Site web de l'école
          </label>
          <div class="mt-1">
            <%= school_form.text_field :website, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md p-3 py-2" ,placeholder: "https://mon-atelier-theatre.com" %>

          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="email" class="block text-sm font-medium text-gray-700">
            Email de contact
          </label>
          <div class="mt-1">
            <%= school_form.text_field :email, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md p-3 py-2" ,placeholder: "https://mon-atelier-theatre.com" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="email" class="block text-sm font-medium text-gray-700">
            Réseaux sociaux
          </label>
          <div class="col-span-3 mt-1 rounded-md shadow-sm bg-white -space-y-px">
          <%= school_form.fields_for :networks do |network_form| %>
            <%= render  "network_fields", f: network_form %> 
          <% end %>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label for="email" class="block text-sm font-medium text-gray-700">
            Description de votre école.
          </label>
          <p class="mt-1 text-sm text-gray-500">
            Donnez ici une description générale de votre école. La description détaillée des cours se trouve dans l'onglet des cours.
          </p>
          <div class="mt-1">
            <%= school_form.text_area :description, id:'editor' %>
            <%# <textarea id="editor"></textarea> %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="flex items-center">
      <%= link_to "Supprimer l'école", "/schools/#{@school.id}", id: "delete_school" ,method: :delete, class: " bg-red-500 py-2 px-4 rounded-md shadow-sm text-sm font-medium text-white-700 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      <div class="flex justify-end ml-auto">
        <%= link_to "Annuler", schools_path, class: " bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        <%= school_form.submit "Enregistrer", class: " justify-flex-end ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    </div>

  </div>
<% end %>