<%= simple_form_for([@school, @course]) do |course_form| %>

  <div class="space-y-8 divide-y divide-gray-200">

    <div class="">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Informations sur votre cours
        </h3>
      </div>
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-4 h-5 md:absolute md:flex-row sm:flex-row-reverse sm:pb-3 sm:fixed md:top-12 md:right-12 flex space-x-2">

        <label for="first_name"  class="mb-3 block text-md font-medium text-gray-700">
            <span id="publishLabel" class="ease-out duration-500 flex-shrink-0 inline-block px-2 py-0.5 text-sm font-medium <%= @course.published ? "bg-green-200  text-green-800" : "bg-red-300  text-red-800" %> rounded-full"> <%= @course.published ? "Publié" : "Non publié" %></span>
        </label>
        
        <button x-data="{ toggle: '<%=@course.published ? '1' : '0' %>' }"
        x-on:click="toggle === '1' ? $refs.publish.value = false : $refs.publish.value = true"
                :class="[toggle === '1' ? 'bg-indigo-400' : 'bg-gray-200']" 
                @click="toggle === '0' ? toggle = '1' : toggle = '0'" 
                type="button" id="btnTogglePublish"
                  class=" relative ml-2 inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none" role="switch" aria-checked="false">
          
          <%= course_form.hidden_field :published, "x-ref"=> "publish"%>
          <span class="sr-only">Use setting</span>
          <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
          <span :style="[toggle === '1' ? 'transform: translateX(20px);' : 'transform: translateX(0px);']"  class="pointer-events-none relative inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200">
            <!-- Enabled: "opacity-0 ease-out duration-100", Not Enabled: "opacity-100 ease-in duration-200" -->
            <span :class="[toggle === '1' ? 'opacity-0 ease-out duration-100' : 'opacity-100 ease-in duration-200']" class="absolute inset-0 h-full w-full flex items-center justify-center transition-opacity" aria-hidden="true">
              <svg class="h-3 w-3 text-gray-400" fill="none" viewBox="0 0 12 12">
                <path d="M4 8l2-2m0 0l2-2M6 6L4 4m2 2l2 2" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
            <!-- Enabled: "opacity-100 ease-in duration-200", Not Enabled: "opacity-0 ease-out duration-100" -->
            <span  :class="[toggle === '1' ? 'opacity-100 ease-in duration-200' : 'opacity-0 ease-out duration-100']" class=" absolute inset-0 h-full w-full flex items-center justify-center transition-opacity" aria-hidden="true">
              <svg class="h-3 w-3 text-indigo-600" fill="currentColor" viewBox="0 0 12 12">
                <path d="M3.707 5.293a1 1 0 00-1.414 1.414l1.414-1.414zM5 8l-.707.707a1 1 0 001.414 0L5 8zm4.707-3.293a1 1 0 00-1.414-1.414l1.414 1.414zm-7.414 2l2 2 1.414-1.414-2-2-1.414 1.414zm3.414 2l4-4-1.414-1.414-4 4 1.414 1.414z" />
              </svg>
            </span>
          </span>
        </button>

      </div>

        <div class="sm:col-span-3">
          <label for="name" class="block text-sm font-medium text-gray-700">
            Nom du cours
          </label>
          <div class="mt-1">
            <%= course_form.text_field :name, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md p-3 py-2" ,placeholder: "Prenom" %>
          </div>
        </div>
        
        <div class="sm:col-span-3">
          <label for="name" class="block text-sm font-medium text-gray-700">
            Prix
          </label>
          <div class="mt-1">
            <%= course_form.number_field :price, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md p-3 py-2" ,placeholder: "Prenom" %>
          </div>
        </div>
        
        <div class="sm:col-span-3">
          <label for="name" class="block text-sm font-medium text-gray-700">
            Periode
          </label>
          <div class="mt-1">
            <%= course_form.text_field :price_period, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md p-3 py-2" ,placeholder: "Nom" %>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= course_form.label :address, "Addresse", class: "block text-sm font-medium text-gray-700"%>
          <div class="mt-1">
            <%= course_form.association :address, label: false, collection: Address.where(school: @school), prompt: "Choisissez une addresse" ,class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md p-3 py-2"%>
          </div>
        </div>
        
        <div class="sm:col-span-3">
          <label for="name" class="block text-sm font-medium text-gray-700">
            Heure du cours
          </label>
          <div class="mt-1 flex justify-around">
            <div class="w-1/3" >
              <em class="text-center">Début:</em>
              <%= course_form.time_field  :start_time, value: @course.start_time, class: " w-1/3 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md p-3 py-2" %>
            </div>
            <div class="w-1/3">
              <em class="text-center">Fin:</em>
              <%= course_form.time_field  :end_time, value: @course.end_time, class: "w-1/3 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md p-3 py-2" %>
            </div>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="email" class="block text-sm font-medium text-gray-700">
            profs
          </label>
          <div class="mt-1">
            <%= course_form.collection_select :teachers, Teacher.where(school: @school),:id, :full_name, selected: @course.teachers.first ? @course.teachers.first.id : nil, class: "bg-green-200"%>
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="email" class="block text-sm font-medium text-gray-700">
            Tags
          </label>
 <%# START SELECT %>
          <div class="mt-1 w-full">
            <%= course_form.collection_check_boxes :tags , Tag.all.order(name: :asc), :id, :name, checked: @course.tags.ids do |b| %>
              <%= b.check_box %>
              <%= b.label %>
            <% end %>
          </div>

<%# END SELECT %>
        </div>

        <div class="sm:col-span-6">
          <label for="email" class="block text-sm font-medium text-gray-700">
            Description
          </label>
          <p class="mt-1 text-sm text-gray-500">
            Donnez ici une description du parcours mais aussi ce qui les caractéristiques des cours que ce professeur prodigue
          </p>
          <div class="mt-1 trix">
            <%= course_form.rich_text_area :description %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5">

    <div class="flex items-center">
      <% unless params[:action] == "new" || params[:action] == "create" %>
        <div x-data="{ open: false }">
          <a @click="open = true" style="cursor: pointer;" class="bg-red-500 py-2 px-4 rounded-md shadow-sm text-sm font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" id="delete_school">Supprimer le cours</a> 
          <%= render  "deleteModal" %>
        </div>
      <% end %>
      <div class="flex justify-end ml-auto">
        <%= link_to "Annuler", school_courses_path(@school), class: "bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        <%= course_form.submit "Enregistrer", class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"%> 

      </div>
    </div>
  </div>
<% end %>